{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Ajout de Burger{% endblock %}

{% block body %}
    <h1>Ajout de Burger</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-success">Créer le Burger</button>
    {{ form_end(form) }}
{% endblock %}
