{% extends 'base.html.twig' %}

{% block title %}Hello BurgerController!{% endblock %}

{% block body %}
        {% for number in burgersWithout %}
           <li>{{ number.name }}</li>
        {% endfor %}
{% endblock %}