{% extends 'base.html.twig' %}

{% block title %}Hello ImageController!{% endblock %}

{% block body %}
        {% for number in images %}
           <li>{{ number.name }}</li>
        {% endfor %}
{% endblock %}
