<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
        {% endblock %}
            {% include '_header.html.twig' %}
        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}

    </head>

    <body>
        {% block body %}{% endblock %}
    </body>
    {% include '_footer.html.twig' %}
</html>
