{% extends 'base.html.twig' %}
{% block title %}Accueil - CRUDcroustillant{% endblock %}
{% block body %}
{% block content %}<p>Bienvenue</p>
<img src="{{ asset('images/burger.jpeg')}}" alt="burger"/>
{% endblock %}

{% endblock %}
