{% extends 'base.html.twig' %}

{% block title %}Hello PainController!{% endblock %}

{% block body %}
        {% for number in pains %}
           <li>{{ number.name }}</li>
        {% endfor %}
{% endblock %}
