{% extends 'base.html.twig' %}

{% block title %}Hello OignonController!{% endblock %}

{% block body %}
        {% for number in oignons %}
           <li>{{ number.name }}</li>
        {% endfor %}
{% endblock %}
